// Page Header
.page-header.row.no-gutters.py-4
  .col-12.col-sm-4.text-center.text-sm-left.mb-0
    span.text-uppercase.page-subtitle Components
    h3.page-title Blog Posts
// End Page Header
.row
  .col-lg-3.col-md-6.col-sm-12mb-4
    .card.card-small.card-post.card-post--1
      .card-post__image(style="background-image: url('images/content-management/1.jpeg');")
        a.card-post__category.badge.badge-pill.badge-dark(href='#') Business
        .card-post__author.d-flex
          a.card-post__author-avatar.card-post__author-avatar--small(href='#' style="background-image: url('images/avatars/0.jpg');") Written by Anna Kunis
      .card-body
        h5.card-title
          a.text-fiord-blue(href='#') Conduct at an replied removal an amongst
        p.card-text.d-inline-block.mb-3
          | However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...
        span.text-muted 28 February 2019
  .col-lg-3.col-md-6.col-sm-12.mb-4
    .card.card-small.card-post.card-post--1
      .card-post__image(style="background-image: url('images/content-management/2.jpeg');")
        a.card-post__category.badge.badge-pill.badge-info(href='#') Travel
        .card-post__author.d-flex
          a.card-post__author-avatar.card-post__author-avatar--small(href='#' style="background-image: url('images/avatars/1.jpg');") Written by James Jamerson
      .card-body
        h5.card-title
          a.text-fiord-blue(href='#') Off tears are day blind smile alone had ready
        p.card-text.d-inline-block.mb-3
          | Is at purse tried jokes china ready decay an. Small its shy way had woody downs power. To denoting admitted speaking learning my...
        span.text-muted 29 February 2019
  .col-lg-3.col-md-6.col-sm-12.mb-4
    .card.card-small.card-post.card-post--1
      .card-post__image(style="background-image: url('images/content-management/3.jpeg');")
        a.card-post__category.badge.badge-pill.badge-primary(href='#') Technology
        .card-post__author.d-flex
          a.card-post__author-avatar.card-post__author-avatar--small(href='#' style="background-image: url('images/avatars/2.jpg');") Written by Jimmy Jackson
      .card-body
        h5.card-title
          a.text-fiord-blue(href='#') Difficult in delivered extensive at direction
        p.card-text.d-inline-block.mb-3
          | Is at purse tried jokes china ready decay an. Small its shy way had woody downs power. To denoting admitted speaking learning my...
        span.text-muted 29 February 2019
  .col-lg-3.col-md-6.col-sm-12.mb-4
    .card.card-small.card-post.card-post--1
      .card-post__image(style="background-image: url('images/content-management/4.jpeg');")
        a.card-post__category.badge.badge-pill.badge-warning(href='#') Technology
        .card-post__author.d-flex
          a.card-post__author-avatar.card-post__author-avatar--small(href='#' style="background-image: url('images/avatars/3.jpg');") Written by John James
      .card-body
        h5.card-title
          a.text-fiord-blue(href='#') It so numerous if he may outlived disposal
        p.card-text.d-inline-block.mb-3
          | How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved ready road market resolution...
        span.text-muted 29 February 2019
.row
  .col-lg-6.col-sm-12.mb-4
    .card.card-small.card-post.card-post--aside.card-post--1
      .card-post__image(style="background-image: url('images/content-management/5.jpeg');")
        a.card-post__category.badge.badge-pill.badge-info(href='#') Travel
        .card-post__author.d-flex
          a.card-post__author-avatar.card-post__author-avatar--small(href='#' style="background-image: url('images/avatars/0.jpg');") Written by Anna Ken
      .card-body
        h5.card-title
          a.text-fiord-blue(href='#') Attention he extremity unwilling on otherwise cars backwards yet
        p.card-text.d-inline-block.mb-3
          | Conviction up partiality as delightful is discovered. Yet jennings resolved disposed exertion you off. Left did fond drew fat head poor jet pan flying over...
        span.text-muted 29 February 2019
  .col-lg-6.col-sm-12.mb-4
    .card.card-small.card-post.card-post--aside.card-post--1
      .card-post__image(style="background-image: url('images/content-management/6.jpeg');")
        a.card-post__category.badge.badge-pill.badge-dark(href='#') Business
        .card-post__author.d-flex
          a.card-post__author-avatar.card-post__author-avatar--small(href='#' style="background-image: url('images/avatars/1.jpg');") Written by Jamie James
      .card-body
        h5.card-title
          a.text-fiord-blue(href='#') Totally words widow one downs few age every seven if miss part by fact
        p.card-text.d-inline-block.mb-3
          | Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education to admitted speaking...
        span.text-muted 29 February 2019
.row
  .col-lg-4
    .card.card-small.card-post.mb-4
      .card-body
        h5.card-title Had denoting properly jointure which well books beyond
        p.card-text.text-muted
          | In said to of poor full be post face snug. Introduced imprudence see say unpleasing devonshire acceptance son. Exeter longer...
      .card-footer.border-top.d-flex
        .card-post__author.d-flex
          a.card-post__author-avatar.card-post__author-avatar--small(href='#' style="background-image: url('images/avatars/1.jpg');") Written by James Khan
          .d-flex.flex-column.justify-content-center.ml-3
            span.card-post__author-name James Khan
            small.text-muted 21 March 2011
        .my-auto.ml-auto
          a.btn.btn-sm.btn-white(href='#')
            i.far.fa-bookmark.mr-1
            |  Bookmark
  .col-lg-4
    .card.card-small.card-post.mb-4
      .card-body
        h5.card-title Husbands ask repeated resolved but laughter debating
        p.card-text.text-muted
          | It abode words began enjoy years no do &#xFEFF;no. Tried spoil as heart visit blush or. Boy possible blessing sensible set but margaret interest. Off tears...
      .card-footer.border-top.d-flex
        .card-post__author.d-flex
          a.card-post__author-avatar.card-post__author-avatar--small(href='#' style="background-image: url('images/avatars/2.jpg');") Written by Anna Kunis
          .d-flex.flex-column.justify-content-center.ml-3
            span.card-post__author-name Chris Jones
            small.text-muted 21 March 2011
        .my-auto.ml-auto
          a.btn.btn-sm.btn-white(href='#')
            i.far.fa-bookmark.mr-1
            |  Bookmark
  .col-lg-4
    .card.card-small.card-post.mb-4
      .card-body
        h5.card-title Instantly gentleman contained belonging exquisite now direction
        p.card-text.text-muted
          | West room at sent if year. Numerous indulged distance old law you. Total state as merit court green decay he. Steepest merit checking railway...
      .card-footer.border-top.d-flex
        .card-post__author.d-flex
          a.card-post__author-avatar.card-post__author-avatar--small(href='#' style="background-image: url('images/avatars/3.jpg');") Written by Anna Kunis
          .d-flex.flex-column.justify-content-center.ml-3
            span.card-post__author-name Mark Jameson
            small.text-muted 21 March 2011
        .my-auto.ml-auto
          a.btn.btn-sm.btn-white(href='#')
            i.far.fa-bookmark.mr-1
            |  Bookmark
.row
  .col-lg-3.col-md-6.col-sm-12.mb-4
    .card.card-small.card-post.h-100
      .card-post__image(style="background-image: url('images/content-management/7.jpeg');")
      .card-body
        h5.card-title
          a.text-fiord-blue(href='#') Extremity so attending objection as engrossed
        p.card-text
          | Morning prudent removal an letters by. On could my in order never it. Or excited certain sixteen it to parties colonel not seeing...
      .card-footer.text-muted.border-top.py-3
        span.d-inline-block
          | By
          a.text-fiord-blue(href='#') Alene Trenton
          |  in
          a.text-fiord-blue(href='#') News
  .col-lg-3.col-md-6.col-sm-12.mb-4
    .card.card-small.card-post.h-100
      .card-post__image(style="background-image: url('images/content-management/8.jpeg');")
      .card-body
        h5.card-title
          a.text-fiord-blue(href='#') Bed sincerity yet therefore forfeited his 
        p.card-text
          | Pursuit chamber as elderly amongst on. Distant however warrant farther to of. My justice wishing prudent waiting in be...
      .card-footer.text-muted.border-top.py-3
        span.d-inline-block
          | By
          a.text-fiord-blue(href='#') Chris Jamie
          |  in
          a.text-fiord-blue(href='#') News
  .col-lg-3.col-md-6.col-sm-12.mb-4
    .card.card-small.card-post.h-100
      .card-post__image(style="background-image: url('images/content-management/9.jpeg');")
      .card-body
        h5.card-title
          a.text-fiord-blue(href='#') Object remark lively all did feebly excuse our
        p.card-text
          | Speaking throwing breeding betrayed children my to. Me marianne no he horrible produced ye. Sufficient unpleasing and...
      .card-footer.text-muted.border-top.py-3
        span.d-inline-block
          | By
          a.text-fiord-blue(href='#') Monica Jordan
          |  in
          a.text-fiord-blue(href='#') News
  .col-lg-3.col-md-6.col-sm-12.mb-4
    .card.card-small.card-post.h-100
      .card-post__image(style="background-image: url('images/content-management/10.jpeg');")
      .card-body
        h5.card-title
          a.text-fiord-blue(href='#') His followed carriage proposal entrance
        p.card-text
          | For county now sister engage had season better had waited. Occasional mrs interested far expression directly as regard...
      .card-footer.text-muted.border-top.py-3
        span.d-inline-block
          | By
          a.text-fiord-blue(href='#') Monica Jordan
          |  in
          a.text-fiord-blue(href='#') News
