extends main
  .error
    .error__content
      h2 500
      h3 Something went wrong!
      p There was a problem on our end. Please try again later.
      button.btn.btn-accent.btn-pill(type='button') &larr; Go Back
    //- / .error_content
  //- / .error
