doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Log In Blockstack!
    link(rel='icon' type='image/x-icon' href='favicon.ico')
    link(rel='stylesheet' href='styles/bootstrap.min.css')
    link(rel='stylesheet' href='styles/app.css')
    script(src='scripts/bundle.js')
    script(src='scripts/app.js')
    script(src='scripts/signIn.js')
  .site-wrapper
    .site-wrapper-inner
      #section-1.panel-landing
        h1.landing-heading(style='color: #111;') Demo-2 Fri 7/26/19
        h3(style='color: #111;') Dashboard Login/SignUp via Blockstack
        p.lead
          a#signin-button.btn.btn-primary.btn-lg(href='#')
            | Login with Blockstack
      #section-2.panel-welcome.hide
        .avatar-section
          img#avatar-image.img-rounded.avatar(src='https://s3.amazonaws.com/onename/avatar-placeholder.png')
        h1
          | Hello, 
          span#heading-name Anonymous
          | !
        p.lead
          a#signout-button.btn.btn-primary.btn-lg(href='#')
            | Logout (from index.pug)
  script(src='https://unpkg.com/blockstack@19.2.1/dist/blockstack.js' integrity='sha384-+qYCYoUGzsMLAzHm80c4DyhbWgHBBb2N0RFqsg7Lws5ljtBtj/IwpgxZkiR7j7lp' crossorigin='anonymous')
